a {
  color: $base-violet;
  text-decoration: underline;

  &:active,
  &:focus,
  &:hover {
    color: $base-violet;
    text-decoration: none;
  }
}

h1 {
  font-weight: 100;
  color: $base-violet;
}